.cursor-bee {
  position: fixed;
  width: 32px;
  height: 32px;
  margin-left: -16px;
  margin-top: -16px;
  z-index: 9999;
  pointer-events: none;
  transition: transform 0.08s ease-out;
  left: -50px;
  top: -50px;
  opacity: 0;
}

.cursor-bee.visible {
  opacity: 1;
}

.cursor-bee-svg {
  width: 100%;
  height: 100%;
  filter: drop-shadow(0 1px 4px rgba(255, 217, 61, 0.4));
}

.cursor-bee-svg .wing-left,
.cursor-bee-svg .wing-right {
  transform-origin: 32px 32px;
  animation: cursor-wing-flap 0.12s ease-in-out infinite;
}

.cursor-bee-svg .wing-right {
  animation-delay: 0.06s;
}

@keyframes cursor-wing-flap {
  0%, 100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.55);
  }
}

@media (hover: none) {
  .cursor-bee {
    display: none;
  }
}
